{% from 'components/seat/_render_public_seats.html' import render_seats %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css') }}">

    <script defer src="{{ url_for('static',filename='js/alpinejs3.19.9.js') }}"></script>
    <title>{{ config['APP_NAME'] }}</title>

    <style>
        [x-cloak] {
            display: none;
        }
    </style>

</head>
<body class="flex h-full bg-amber-50">

<div class="content flex-grow">

    <div class="w-full mx-auto lg:max-w-5xl">
        <nav class="flex justify-between items-center w-full lg:max-w-5xl bg-opacity-50 bg-amber-950 fixed">
            <a href="{{ url_for('home.index') }}">
            <span class="text-xl px-8 text-gray-100">
                {{ config['APP_NAME'] }}
            </span>
            </a>
            <div class="">
                <ul class="font-medium flex items-center p-4 flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                    {% if current_user.is_authenticated %}
                        <li x-data="{ dropdownOpen: false }" @click.away="dropdownOpen = false">
                            <a @click="dropdownOpen = !dropdownOpen"
                               class="block py-2 px-3 text-white rounded md:bg-transparent md:text-blue-700 md:p-0">

                                {% if current_user.avatar %}
                                    <img class="rounded-full"
                                         src="data:image/png;base64,{{ current_user.avatar.image }}"
                                         width="35px"
                                         alt="{{ current_user.username }}">
                                {% else %}
                                    <span class="text-gray-900 bg-white rounded-full p-1">
                                    <i class="fa-solid fa-user"></i>
                                </span>
                                {% endif %}

                            </a>
                            <ul x-show="dropdownOpen"
                                class="absolute bg-amber-900 bg-opacity-75 text-white mt-2 py-2"
                                x-cloak>
                                <li><a href="{{ url_for('auth.profile') }}"
                                       class="block px-4 py-2 hover:bg-gray-900 hover:bg-opacity-90">{{ _('Profile') }}</a>
                                </li>
                                <li><a href="{{ url_for('security.logout') }}"
                                       class="block px-4 py-2 hover:bg-gray-900 hover:bg-opacity-90">{{ _('Logout') }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('security.login') }}"
                               class="text-gray-100">{{ _('Login') }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('security.register') }}"
                               class="text-gray-100">{{ _('Sign Up') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="w-full mx-auto lg:max-w-4xl mt-2">
        <div class="flex flex-col w-full justify-center items-center border-b border-gray-300 lg:flex-col lg:justify-evenly mt-20">
            <h1 class="text-4xl font-bold text-gray-900 text-balance mt-2 mb-4 text-center">
                445. rođendan Grada Karlovca
            </h1>
            <img class="w-full rounded-xl"
                 src="{{ url_for('static', filename='image.py/posts/bal.jpg') }}" alt="Hero Image">
            <div class="py-4 px-2">
                <p class="text text-gray-700">
                    Karlovac je jedan od rijetkih gradova koji točno zna datum svog postanka, svog „rođenja“, 13. 7. 1579.  Svake godine na taj dan održava se Rođendanski bal na kojem gradu u čast valcer zapleše onoliko plesnih parova koliko grad ima godina. Ove godine će na taktove bečkog i engleskog valcera  plesati 445 plesnih parova.
                </p>
                <p class="text-lg font-bold text-gray-700 my-4">
                    Rođendanski bal održati će se na igralištu kod Sokolskog doma u subotu, 13. srpnja 2024. s početkom u 20:00 sati.
                </p>
            </div>
        </div>
        <div class="w-full mx-auto lg:max-w-4xl">
            <div class="w-full mt-4">
                <h1 class="text-2xl font-bold text-gray-900 text-center mb-4 w-full">
                    {{ _('Reserve your place, NOW!!!') }}
                </h1>
                <div class="w-full flex justify-evenly flex-col align-items-center md:flex-row ">
                    <div class="w-full justify-center p-2 mb-4 md:rounded md:shadow-lg md:border-r md:border-gray-200 md:mr-4 bg-amber-50">

                        {{ render_seats(seats, reserve_seat_form, remove_reservation_form, current_user) }}

                    </div>
                    <div class="w-full border-t border-gray-200 bg-amber-50 md:rounded md:shadow-lg h-fit md:border-0">
                        <div class="p-2">
                            <ul>
                                <li class="flex items-center ml-2 mb-2">
                                    <p class="text-xl font-bold">
                                        {{ _('Legend') }}:
                                    </p>
                                </li>
                                <li class="flex items-center">
                                    <div class="p-1 rounded-full">
                                        <i class="fa-solid fa-star text-red-600 "></i>
                                    </div>
                                    <p class="">
                                        {{ _('My position') }}
                                    </p>
                                </li>
                                <li class="flex items-center">
                                    <div class="p-1 rounded-full">
                                        <i class="fa-solid fa-star text-green-400"></i>
                                    </div>
                                    <p class="">
                                        {{ _('Occupied') }}
                                    </p>
                                </li>
                                <li class="flex items-center">
                                    <div class="p-1">
                                        <i class="fa-regular fa-star text-yellow-300"></i>
                                    </div>
                                    <p class="">
                                        {{ _('Free') }}
                                    </p>
                                </li>
                                <li class="flex items-center">
                                    <div class="p-1 rounded-full">
                                        <i class="fa-regular fa-circle-xmark text-gray-400"></i>
                                    </div>
                                    <p class="">
                                        {{ _('Not available') }}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>