{% macro show_image(base_64, previous_base64, next_base64) %}
    <div x-data="{ show_image: false }">
        <button x-on:click="show_image=true" type="button"
                class="py-1 px-2 text-sm font-medium text-white focus:outline-none bg-gray-900 rounded-lg border border-gray-200">
            {{ _('Show image') }}
        </button>
        <div x-show="show_image" x-cloak
             x-transition:enter="transition ease-out duration-300"
             x-transition:enter-start="opacity-0"
             x-transition:enter-end="opacity-100"
             x-transition:leave="transition ease-in duration-300"
             x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0">
            <div class="fixed inset-0 bg-gray-800 opacity-60"></div>
            <div class="fixed top-12 left-0 w-full flex justify-center">
                <div class="bg-white rounded-xl shadow-lg">
                    <div class="relative flex justify-between bg-white p-1 rounded-lg">
                        <button type="button" x-on:click="base_64 = previous_base64"
                                class="absolute left-0 bottom-0 bg-white rounded-full px-1">
                            <i class="fa-regular fa-arrow-left"></i>
                        </button>
                        <img src="data:image/png;base64,{{ base_64 }}" class="max-w-full h-full object-cover rounded-lg"
                             alt="">
                        <button type="button" x-on:click="base_64 = next_base64"
                                class="absolute right-0 bottom-0 bg-white rounded-full px-1">
                            <i class="fa-regular fa-arrow-right"></i>
                        </button>
                        <button type="button" x-on:click="show_image=false"
                                class="absolute -top-2 -right-2 bg-white rounded-full px-1">
                            <i class="fa-regular fa-circle-xmark"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}