{% extends 'layout/admin_base.html' %}
{% from 'components/form/_macros.html' import render_form %}
{% from 'components/form/_inputs_macros.html' import checkbox, submit %}
{% from 'components/form/_confirmation.html' import confirm_delete %}
{% from 'components/form/_small_form_macros.html' import render_small_form %}
{% from 'components/image/_show_image.html' import show_image %}

{% block content %}

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Event information') }}</strong>
                <p class="text-sm">{{ _('Here you can update event info') }}</p>
            </div>
            <div class="mt-4">
                {{ render_form(event_update_form, action=url_for('event.update', event_id=event.id)) }}
            </div>
        </div>
    </div>

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Event image') }}</strong>
                <p class="text-sm">{{ _('Here you can update or change event') }}</p>
            </div>
            <div class="mt-4">
                {{ render_form(event_image_form, action=url_for('event.add_image', event_id=event.id), enctype="multipart/form-data") }}
            </div>
        </div>
    </div>

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Event images') }}</strong>
                <p class="text-sm">{{ _('Here you can view images') }}</p>
            </div>
            <div class="mt-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    {% for image in event.images %}
                        <div class="relative">
                            <img src="data:image/png;base64,{{ image.base_64 }}" class="w-full h-48 object-cover" alt="">
                            <div class="absolute bottom-0 right-0 p-2">
                                {{ confirm_delete(event_image_delete_form, action=url_for('event.delete_image', image_id=image.id)) }}
                            </div>
                            <div class="absolute bottom-0 left-0 p-2">
                                {{ show_image(image.base_64) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}