{% extends 'layout/admin_base.html' %}
{% from 'components/form/_macros.html' import render_form %}
{% from 'components/form/_inputs_macros.html' import checkbox, submit %}
{% from 'components/form/_confirmation.html' import confirm_delete %}
{% from 'components/form/_small_form_macros.html' import render_small_form %}
{% from 'components/image/_show_image.html' import show_image %}

{% block content %}

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Event information') }}</strong>
                <p class="text-sm">{{ _('Here you can update event info') }}</p>
            </div>
            <div class="mt-4">
                {{ render_form(event_update_form, action=url_for('event.update', event_id=event.id)) }}
            </div>
        </div>
    </div>

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Event image') }}</strong>
                <p class="text-sm">{{ _('Here you can update or change event') }}</p>
            </div>
            <div class="mt-4">
                {{ render_form(event_image_form, action=url_for('event.add_image', event_id=event.id), enctype="multipart/form-data") }}
            </div>
        </div>
    </div>

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Event images') }}</strong>
                <p class="text-sm">{{ _('Here you can view images') }}</p>
            </div>
            <div class="mt-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    {% for image in event.images %}
                        {% set previous_base_64 = event.images[loop.index - 2].base_64 if loop.index > 1 else None %}
                        {% set next_base_64 = event.images[loop.index].base_64 if loop.index < event.images|length else None %}
                        <div class="relative">
                            <img src="data:image/png;base64,{{ image.base_64 }}" class="w-full h-48 object-cover"
                                 alt="">
                            <div class="absolute bottom-0 right-0 p-2">
                                {{ confirm_delete(event_image_delete_form, action=url_for('event.delete_image', image_id=image.id)) }}
                            </div>
                            <div class="absolute bottom-0 left-0 p-2">
                                {{ show_image(image.base_64, previous_base_64, next_base_64) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Stage') }}</strong>
                <p class="text-sm">{{ _('Here you can add or update stage') }}</p>
            </div>
            <div class="mt-4">
                <a href="{{ url_for('event.seats', event_id=event.id) }}"
                   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    {{ _('Add seats') }}
                </a>
            </div>
        </div>
    </div>

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Delete event') }}</strong>
                <p class="text-sm">{{ _('Here you can delete images') }}</p>
            </div>
            <div class="mt-4">
                {{ confirm_delete(event_delete_form, action=url_for('event.delete', event_id=event.id)) }}
            </div>
        </div>
    </div>

{% endblock %}