{% extends 'layout/admin_base.html' %}
{% from "components/table/_table.html" import table, thead, th_class, tbody, tr_class, td_class %}
{% from "components/table/_small_screen_table.html" import small_screen_table, small_screen_table_thead, small_screen_table_th, small_screen_table_tbody, accordion, accordion_row, accordion_url_to, accordion_body %}
{% from "components/table/_common_elements.html" import paginate, search, create_new %}

{% block content %}

    <div class="w-auto p-6"
         x-data="{
             end_point: '/events/get_events',
             search: '',
             items: [],
             old_page: 0,
             page: 1,
             per_page: 10,
             total: 0,
             pages: 0,
             fetchItems: fetchItems,
             prevPage: prevPage,
             nextPage: nextPage,
             sort_by: 'id',
             direction: 'asc'
         }"
         x-init="fetchItems('id')">

        <div class="bg-white p-6 rounded-lg shadow-md max-w-6xl">
            <h2 class="text-2xl text-gray-500 mb-4">
                <strong>{{ _('Events') }}</strong>
            </h2>

            <div class="flex justify-between items-center mb-4">
                {{ create_new('/events/create', _('Create event')) }}
                {{ search('default-search', 'search', 'fetchItems()') }}
            </div>

            <div class="hidden md:block">
                {% call table() %}
                    {% call thead() %}
                        {{ th_class("ID", "id") }}
                        {{ th_class("Title", "title") }}
                        {{ th_class("Starts at", "starts_at") }}
                    {% endcall %}
                    {% call tbody() %}
                        <template x-for="event in items" :key="event.id">
                            <tr class="hover:bg-gray-200 hover:cursor-pointer"
                                @click="window.location.href = '/events/' + event.id">
                                {{ td_class('event.id') }}
                                {{ td_class('event.title') }}
                                {{ td_class('event.starts_at') }}
                            </tr>
                        </template>
                    {% endcall %}
                {% endcall %}
            </div>

            <div class="block md:hidden">

                {% call small_screen_table() %}
                    {% call small_screen_table_thead() %}
                        {{ small_screen_table_th("Title") }}
                    {% endcall %}
                    {% call small_screen_table_tbody() %}
                        <template x-for="(event, index) in items" :key="event.id">
                            {% call accordion() %}
                                {% call accordion_url_to() %}
                                    <span @click="window.location.href = '/events/' + event.id;"
                                          x-text="event.title"
                                          class="w-full">
                                    </span>
                                {% endcall %}
                                {% call accordion_body() %}
                                    {% call accordion_row('ID') %}
                                        <td class="p-2" x-text="event.id"></td>
                                    {% endcall %}
                                    {% call accordion_row('Starts at') %}
                                        <td class="p-2" x-text="event.starts_at"></td>
                                    {% endcall %}
                                {% endcall %}
                            {% endcall %}
                        </template>
                    {% endcall %}
                {% endcall %}
            </div>

            {{ paginate('prevPage', 'nextPage', 'page', 'pages') }}
        </div>
    </div>

    <script>
        function fetchItems(sort_by) {
            if (this.sort_by === sort_by && this.old_page === this.page) {
                this.direction = this.direction === 'asc' ? 'desc' : 'asc';
            }

            if (this.sort_by !== sort_by && this.old_page === this.page) {
                this.direction = 'asc';
            }

            if (sort_by !== undefined) {
                this.sort_by = sort_by;
                this.page = 1;
            }
            this.old_page = this.page;

            fetch(this.end_point, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': 'csrf_token'
                },
                body: JSON.stringify({
                    search: this.search,
                    page: this.page,
                    per_page: this.per_page,
                    sort_by: this.sort_by,
                    sort_direction: this.direction
                })
            })
                .then(response => response.json())
                .then(data => {
                    this.items = data.items;
                    this.total = data.total;
                    this.page = data.page;
                    this.per_page = data.per_page;
                    this.pages = data.pages;
                });
            console.log(this.items)
        }

        function prevPage() {
            if (this.page > 1) {
                this.page--;
                this.fetchItems();
            }
        }

        function nextPage() {
            if (this.page < this.pages) {
                this.page++;
                this.fetchItems();
            }
        }
    </script>

{% endblock %}