{% extends 'layout/admin_base.html' %}

{% from 'components/form/_macros.html' import render_form %}
{% from 'components/seat/_render_seats.html' import render_seats %}

{% block content %}

    <div class="grid place-items-baseline px-6">
        <div class="grid w-full grid-cols-1 md:grid-cols-2 md:max-w-4xl">
            <div class="mt-4">
                <strong> {{ _('Seats') }}</strong>
                <p class="text-sm">{{ _('Here you can generate new stage') }}</p>
            </div>
            <div class="mt-4">
                {% if not render_seats %}
                    {{ render_form(event_create_seats_form) }}
                {% else %}
                    {{ render_seats(seats) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}